    @import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
    * {
        box-sizing: border-box;
    }
    
    ​ body {
        margin: 0 auto;
        max-width: 768px;
        font-family: "Raleway", sans-serif;
        font-weight: 200;
        background-color: #093145;
        color: #fff;
    }
    
    ​ input {
        border: 1px solid white;
    }
    
    .contact-info {
        padding: 50px 20px 35px 50px;
        max-width: 70%;
    }
    
    .contact-info .flex-pair {
        display: flex;
        flex-direction: column;
    }
    
    .contact-info label {
        margin-bottom: 10px;
    }
    
    ​ .contact-info input {
        height: 50px;
        margin-bottom: 15px;
    }
    
    #zip {
        max-width: 50%;
    }
    
    header #title {
        display: flex;
        justify-content: center;
        padding: 20px;
        text-transform: uppercase;
        color: white;
        background-color: steelblue;
        max-width: 72%;
    }
    
    @media (min-width: 768px) {
        .contact-info .flex-pair {
            flex-direction: row;
        }
        .contact-info input {
            flex-grow: 1;
            flex-basis: 75%;
        }
        .contact-info label {
            flex-basis: 25%;
            height: 50px;
            margin: auto 0;
        }
        #zip {
            max-width: 25%;
        }
        #dropdown-menu {
            min-width: 75%;
        }
    }